body{
    margin:0px;
    padding: 0px;
}
.clear{
    overflow: hidden;
}
.header{
    background-color: #001544;
}
.head{
    width: 1290px;
    margin: auto;
}
.logo{
    width: 35%;
    float: left;
}
.logo img{
    width: 150px;
    height: 88px;

}
.navbar{
    width: 65%;
    float: right;
}
.navbar a{
    text-decoration: none;
    display: inline-block;
    padding:35px;
    color: white;  
}
.customer-section{
    background-image: url("../images/login-bnner\ bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
    height: 400px;
    color: white;
    
}
.customer-section h1{
    font-size: 60px;
    font-weight: 400;
}
.customer-section p{
    font-size: 30px;
    font-weight: 600;
}
.customer h4{
    margin:30px 0px

    
}
.container{
    width: 1150px;
    margin: auto;
    
}
.login-contain-bar{
    width: 50%;
    float: left;
}
.login-bar{
    width: 350px;
    height: 400px;
    background-color: rgb(243, 66, 1);
    margin: auto;
    padding: 0px 50px;
    padding-bottom: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    float: right;
}
h1{
    text-align: center;
}
.info{
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
}
.info-btn{
    width: 150px;
    padding: 12px;
    border-radius: 10px;
    margin: 0px 8px;
    cursor: pointer;
    background-color: rgb(54, 54, 187);
}
.footer-section{
    height: 228px;
    background-color: #001544;
    color: white;
}
.footer{
    width: 261px;
    margin: 10px;
    float: left;
}